# Build directories
build/
out/

# Executables
*.exe
*.out

# Object files
*.o
*.obj

# Libraries
*.a
*.lib
*.dll
*.so

# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
compile_commands.json
Makefile

# VS Code
.vscode/

# Logs
*.log